@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap'); /*Passion One*/

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap'); /*Sriracha*/


:root {
    --font-default: Verdana, Geneva, Tahoma, sans-serif;
    --font-sriracha: 'Sriracha', cursive, sans-serif;
    --font-passion-one: 'Passion One', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: #a1a1a1;
    font-family: var(--font-default);
}

header {
    background-color: #000;
    color: #fff;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps; /*!achei legal!*/
}

header > p {
    padding-bottom: 50px;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal {
    background-color: #fff;
    color: #000;
}

section.imagem {
    background-color: #292929;
    color: #fff;
}

section.imagem > p {
    background-color: #000000a6;
    width: 400px;
}

footer {
    background-color: #000;
    text-align: center;
    color: #fff;
    padding: 10px;
}